

body{
    background-color:white;
    font-family: "verdana";
    color: #22577a;
}


h1{
    font-size: 1.5em;
    color:/*#00992e*/ #d0f046; /*Not sure about this color*/
    font-weight: 800;
    font-family: "Courier New", Courier, monospace;
    border: 2px solid #2f4858;
    background-color: #2f4858;
    padding: 0.5px;
    border-radius: 0.5em;
    }


    h2 {
    font-size: 1em;
    font-style: italic;
    background-color: #2f4858;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;
    }


h2, h3, h4 {
    color: #d0f046;
    }

p {
    color: #22577a;
    font-size: 0.75em;
    
}

.seleted {
    color: #C7F9CC;
    
}

.nav-bar {
    text-align: center;
    border: solid #2f4858;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    background-color: #2f4858;
    width:800px;
    height: 10px;
    border-width: 1px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    border-radius: 0.5em;
    }

.nav-bar li a:hover {
    background-color:#d0f046;
    text-decoration: underline;
    font-size: 1.2em;
    transition: 0.5s;
    padding: 3px;
    border-radius: 7px;
    }

ul li {
    list-style-type: none;
    display: inline;
    margin-right: 0.5em;
    margin-left: 0.5em;
    }


h3 {
    border-width: 1px;
    border-style: solid;
    padding-bottom: 0.25em;
    }

    .introduction{
    font-size: 1em;
    color: #22577a;
    font-size: italic;
    }

/*Bellow are the style for the menu links*/

    a:link{
    color:#2f4858;
    }

    a:visited{
    color: #38a3a5;
    }

    a:hover{
    color: #22577a;
    }


/*bellow are the code for the pictures transitions*/
          


/*bellow style for the menu layout*/
/*
    .navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    border: #4c0072;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    display: flex;
    }

    .navigation a{
    text-decoration: none;
    color: #226800;
    font-weight: bold;
    display: block;
    padding: .75em 1em .75em 1em;
    }

    .navigation a:hover{
    background-color: red;
    }
    */
/*
    .navigation a::selection{
        text-decoration: none;
        color: yellow;
        font-weight: bold;  
    }
        */